:root {
    --navbar-color: #C4E6BE;
    --bg-color: #EAC9C1;
    --highlight-color: #665687;
    --text-color: #0C120C;
    --gray: #8fbb88;
    --font-family: 'Noto Sans', sans-serif;
}
body {
    color: var(--text-color);
    font-family: var(--font-family);
}
main {
    background: var(--bg-color);
}
mark {
    background-color: var(--highlight-color);
    color: var(--black);
    padding: 10px;
    border-radius: 3px;
}
.side_nav {
    background: var(--navbar-color);
}
.side_nav {
    float: none;
    padding-left: 3%;
    padding-top: 1%;
}
.side_nav .row + .row {
    padding-top: 30%;
}
.side_nav header > img {
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.user_settings {
    align-items: center;
    justify-content: center;
    padding-top: 7%
}
.class_links ul, .personal_links ul {
    list-style: none;
}
.class_links a, .personal_links a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.class_links a:hover, .personal_links a:hover {
    background-color: var(--gray);
}

.class_name {
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
    text-shadow: -1px 2px 13px var(--text-color);
}

.class_timetable {
    margin-top: none;
    font-weight: bold;
}

.class_time {
    padding: 2px;
    font-size: 26px;
    font-weight: bold;
}
.class_time p {
    background: var(--highlight-color);
    padding:5px;
    border-radius: 20px 20px 20px 20px;
}

.professor_links ul {
    list-style: none;
    display: inline-flex;
}
.professor_links li {
    padding-right:10px;
}
.professor_links a {
    text-decoration: none;
    color:black;
}
.lecture {
    padding-left: 10%;
}
