<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Class</title>
  </head>
  <body>
    <main>
        <div class="class_name">
            <p> Class Code - Class Name </p>
            <div class="class_timetable">
                <p>M T W TH F</p>
            </div>
        </div>
        <div class="professor_info">
            <p>Professor Name</p>
            <ul>
                <li>Email</li>
                <li>Webpage</li>
            </ul>
        </div>
        <div class="lecture">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xbOU-2gy3Yo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="syllabus">
            <iframe width="560" height="945" src="https://drive.google.com/file/d/1nFlQN0OWX_KaRMBNfZFVBfKnx_vCceZU/view?usp=sharing"></iframe>
        </div>
        <div class="chat">
            <div class="review_bar">
                <p>Avg Rating: ⭐⭐⭐⭐⭐</p>
            </div>
            <p>Student 1: This is a message.</p>
            <p>Student 2: So is this!</p>
            <p>Student 1: 😂</p>
        </div>
    </main>


  </body>
</html>
